@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: gray;
}

a:link {
  color: whitesmoke;
}

#name {
  color: greenyellow;
  font-size: 8vh;
  padding: 1rem;
}

#desc {
  font-size: 4vh;
  color: yellow;
  padding: 1rem;
  padding-top: 0;
}

#contact {
  padding-bottom: 1rem;
}

#contact span {
  color: white;
  padding: 0 0.5rem;
}

#contact img {
  height: 24px;
  vertical-align: middle;
}

.parallax {
  /* Set a specific height */
  min-height: 50vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.parallax i {
  height: 50vh;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thermal {
  background-image: url("thermal.jpg");
}

#bit {
  background-image: url("bit.jpg");
}

#lignite {
  background-image: url("lignite.jpg");
}

#steel {
  background-image: url("steel.jpg");
}

#ship {
  width: 100%;
}

footer {
  color: whitesmoke;
}

footer h2 {
  display: inline;
}

footer img {
  height: 32px;
  padding: 0.25rem;
  vertical-align: middle;
}

@media only screen and (max-device-width: 800px) {
  .parallax {
    background-attachment: scroll;
  }

  #contact span {
    display: block;
  }
}
