@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: gray;
}

a:link {
  color: whitesmoke;
}

#name {
  color: greenyellow;
  font-size: 8vh;
  padding: 1rem;
}

#desc {
  font-size: 4vh;
  color: yellow;
  padding: 1rem;
  padding-top: 0;
}

#contact {
  padding-bottom: 1rem;
}

#contact span {
  color: white;
  padding: 0 0.5rem;
}

#contact img {
  height: 24px;
  vertical-align: middle;
}

.section {
  display: flex;
}

.section img {
  width: 100%;
}

.lentil > div {
  width: calc(100% / 3);
  width: 100%;
}

.bean > div {
  width: 50%;
  width: 100%;
}

.wheat > div {
  width: 100%;
}

footer {
  color: whitesmoke;
}

footer h2 {
  display: inline;
}

footer img {
  height: 32px;
  padding: 0.25rem;
  vertical-align: middle;
}

@media only screen and (max-device-width: 800px) {
  #contact span {
    display: block;
  }
}
